name: Generate Pacman

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  pacman:
    runs-on: ubuntu-latest
    # Added permissions to allow the action to push to repository
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman animation
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: Gradient-Nomad 

      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          publish_branch: output 
