name: Generate Pacman

on:
schedule:
- cron: "0 0 * * *"   # runs every day
workflow_dispatch:

jobs:
build:
runs-on: ubuntu-latest

```
steps:
  - name: Generate Pacman contribution graph
    uses: abozanona/pacman-contribution-graph@main
    with:
      github_user_name: Gradient-Nomad

  - name: Push generated files
    uses: crazy-max/ghaction-github-pages@v3
    with:
      target_branch: output
      build_dir: dist
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
```
